.cargo/
*.pdb
**/*.rs.bk
debug/
target/
vendor/
vendor.tar
.flatpak-venv/
flatpak-cargo-generator.py
debian/*
!debian/changelog
!debian/control
!debian/copyright
!debian/install
!debian/rules
!debian/source